@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

html, body {
	height: 100vh;
	width: 100vw;
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
	background-color: #f2f2f2;
}
body {
	display: flex;
}
main {
	position: relative;
	width: 640px;
	font-size: 0;
	margin: auto;
}
a:hover .bar {
  opacity: 0.8;
}
a:focus .bar, a:active .bar {
  opacity: 1;
}
a:visited {
  color: inherit;
}
h1 {
  color: #333;
  text-align: right;
  z-index: 1;
  font-size: 32pt;
	position: absolute;
	font-weight: 700;
}
h2 {
  color: #333;
  text-align: right;
  z-index: 1;
  font-size: 24pt;
	position: absolute;
	font-weight: 700;
}
h1 div, h2 div {
	position: relative;
  display: inline-block;
}
h1 div .bar{
  background-color: #0046f0;
}
h2 div .bar {
  background-color: #0046f0;
	bottom: 6px;
}
section, .filter {
	position: relative;
	display: flex;
	flex-flow: wrap row;
	align-items: flex-start;
}
p::first-letter {
	text-transform: capitalize;
}

p, h2, h1, a {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
  opacity: 1;
  position: absolute;
  z-index: 3;
  font-size: 24pt;
}
section.carousel p {
  width: 100%;
  display: block;
  color: #333;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  text-align: right;
  z-index: 3;
}
section.carousel:not(.intro) p {
  margin: 256px 64px 0 0;
  font-size: 48pt;
}
section.carousel h2 {
  margin-right: 64px;
  text-align: right;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
section.carousel a {
  color: inherit;
}
section .carousel-foreground {
  top: 40px;
  left: 40px;
  position: absolute;
  width: 544px;
  height: 544px;
  background: white;
}
section .carousel-background {
  top: 136px;
  left: 136px;
  position: absolute;
  width: 480px;
  height: 480px;
  background-color: #0046f0;
}
section.carousel .bar {
  background-color: #0046f0;
}
section.off {
  display: none;
}
section.intro {
  top: 64px;
}
section.intro p {
  text-align: left;:
}

#next, #previous {
  right: 0;
  left: 0;
  border-radius: 100%;
  cursor: pointer;
  top: calc(100vh/ 2);
  position: absolute;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background: #0046f0;
}
#next:hover, #previous:hover {
  opacity: 0.8;
}

.student {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 8px;
	background-color: #e6e6e6;
	transition: all 0.1s;
	cursor: pointer;
}
.student:hover {
	width: 32px;
	height: 32px;
	margin: 0;
	opacity: 1!important;
	z-index: 9;
}
.student:not(.active) {
	opacity: 0.3;
}
.fakeStudent {
	position: absolute;
	bottom: 8px;
	left: 8px;
	width: 32px;
	height: 32px;
	margin: 0;
	opacity: 1!important;
	z-index: 9;
}

#form-filter1, #form-filter2 {
	font-family: 'PT Sans', sans-serif;
	position: absolute;
	width: calc((100vw - (640px + 32px)) / 2);
	height: 100vh;
	font-size: 32pt;
	color: #333;
}
#form-filter1 {
	top: 0;
	left: 0;
}
#form-filter2 {
	bottom: 0;
	right: 0;
}
label {
  z-index: 1;
	position: absolute;
	font-weight: 700;
}
label span::first-letter {
	text-transform: capitalize;
}
.bar {
	z-index: -1;
	position: absolute;
	bottom: 11px;
	left: 0;
	right: 0;
  display: block;
  background: white;
  height: 8px;
  width: 100%;
  margin: 0 auto;
}
#form-filter1 label, #form-filter1 h1 {
	top: calc((100vh - 640px) / 2 - 128px);
	right: 16px;
}
#form-filter2 label {
	bottom: calc((100vh - 640px) / 2 - 128px);
	left: 16px;
}

.select {
	position: absolute;
	width: 100%;
	max-height: 624px;
	overflow-y: scroll;
	margin: 8px 0;
}
.select::-webkit-scrollbar {
	display: none;
}
.fadeout {
	position: absolute;
	top: calc((100vh - 640px) / 2 + 592px);
	height: 40px;
	right: 16px;
	left: 16px;
	background-image: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%);
	pointer-events: none;
}
#form-filter1 .select {
	top: calc((100vh - 640px) / 2);
	left: 0;
}
#form-filter2 .select {
	bottom: calc((100vh - 640px) / 2);
	right: 0;
}

.options {
	opacity: .3;
	border: 2px solid #333333;
	color: #333333;
	display: block;
	position: relative;
	height: 44px;
	line-height: 48px;
	padding: 0 24px;
	font-size: 16pt;
	margin: 0 16px 16px;
	cursor: pointer;
	transition: all 0.1s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.options.active {
	opacity: 1;
}
.options:hover {
	opacity: 1;
}
.options::first-letter {
	text-transform: capitalize;
}
.options:last-child {
	margin-bottom: 0;
}
.options .number {
	position: absolute;
	top: 0;
	right: 16px;
	height: 44px;
	text-align: right;
	opacity: 0.5;
}

.tooltip {
	position: absolute;
	left: -8px;
	bottom: -8px;
	width: 320px;
	height: 192px;
	font-size: 16pt;
	pointer-events: none;
}
.tooltip p {
	min-height: 27px;
	margin: 0;
}
.tooltip .properties {
	position: absolute;
	top: 16px;
	max-height: 176px;
	background-color: white;
	padding-left: 56px;
	padding-right: 16px;
	text-align: right;
}
.tooltip .properties p:first-child {
	margin-top: 8px
}
.tooltip .properties p:last-child {
	margin-bottom: 8px
}
.tooltip .infos {
	position: absolute;
	left: 32px;
	font-family: 'PT Serif', serif;
	color: white;
	height: 100%;
	padding-top: 24px;
	padding-left: 232px;
	white-space: pre;
	padding-right: 32px;
}

.logo-gob {
	position: absolute;
	top: calc(100vh / 2 - 160px);
	right: 0;
	left: 0;
	margin: 0 auto;
  opacity: 0.1;
}
