@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

html, body {
	height: 100vh;
	width: 100vw;
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
	background-color: #f2f2f2;
}
body {
	display: flex;
}
main {
	position: relative;
	width: 640px;
	font-size: 0;
	margin: auto;
}
section, .filter {
	position: relative;
	display: flex;
	flex-flow: wrap row;
	align-items: flex-start;
}
p::first-letter {
	text-transform: capitalize;
}

/**/
.student {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 8px;
	background-color: #e6e6e6;
	transition: all 0.1s;
	cursor: pointer;
}
.student:hover {
	width: 32px;
	height: 32px;
	margin: 0;
	opacity: 1!important;
	z-index: 9;
}
.student:not(.active) {
	opacity: .4;
}
.fakeStudent {
	position: absolute;
	bottom: 8px;
	left: 8px;
	width: 32px;
	height: 32px;
	margin: 0;
	opacity: 1!important;
	z-index: 9;
}

/**/
#form-filter1, #form-filter2 {
	font-family: 'PT Sans', sans-serif;
	position: absolute;
	width: calc((100vw - (640px + 32px)) / 2);
	height: 100vh;
}
#form-filter1 {
	top: 0;
	left: 0;
}
#form-filter2 {
	bottom: 0;
	right: 0;
}
.title {
  z-index: 1;
	position: absolute;
	font-weight: 700;
	font-size: 32pt;
	margin: 0;
	color: #333;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title span::first-letter {
	text-transform: capitalize;
}
.bar {
	z-index: -1;
	position: absolute;
	bottom: 11px;
	left: 0;
	right: 0;
  display: block;
  background: white;
  height: 8px;
  width: 100%;
  margin: 0 auto;
}
#form-filter1 .title {
	top: calc((100vh - 640px) / 2 - 128px);
	right: 16px;
}
#form-filter2 .title {
	bottom: calc((100vh - 640px) / 2 - 128px);
	left: 16px;
}

/**/
.select {
	position: absolute;
	width: 100%;
	max-height: 624px;
	overflow-y: scroll;
	margin: 8px 0;
}
.select::-webkit-scrollbar {
	display: none;
}
#form-filter1 .select {
	top: calc((100vh - 640px) / 2);
	left: 0;
}
#form-filter2 .select {
	bottom: calc((100vh - 640px) / 2);
	right: 0;
}

/**/
.options {
	opacity: .4;
	border: 2px solid #333333;
	color: #333333;
	display: block;
	position: relative;
	height: 44px;
	line-height: 48px;
	padding: 0 24px;
	font-size: 16pt;
	margin: 0 16px 16px;
	cursor: pointer;
	transition: all 0.1s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.options.active {
	opacity: 1;
}
.options:hover {
	opacity: 1;
}
.options::first-letter {
	text-transform: capitalize;
}
.options:last-child {
	margin-bottom: 0;
}
.options .number {
	position: absolute;
	top: 0;
	right: 16px;
	height: 44px;
	text-align: right;
	opacity: 0.5;
}

/**/
.tooltip {
	position: absolute;
	left: -8px;
	bottom: -8px;
	width: 320px;
	height: 192px;
	font-size: 16pt;
	pointer-events: none;
}
.tooltip p {
	min-height: 27px;
	margin: 0;
}
.tooltip .properties {
	position: absolute;
	top: 16px;
	max-height: 176px;
	background-color: white;
	padding-left: 56px;
	padding-right: 16px;
	text-align: right;
}
.tooltip .properties p:first-child {
	margin-top: 8px
}
.tooltip .properties p:last-child {
	margin-bottom: 8px
}
.tooltip .infos {
	position: absolute;
	left: 32px;
	font-family: 'PT Serif', serif;
	color: white;
	height: 100%;
	padding-top: 24px;
	padding-left: 232px;
	white-space: pre;
	padding-right: 32px;
}

/**/
.menu {
	position: absolute;
	display: flex;
	flex-direction: row;
  justify-content: flex-end;
	font-size: 0;
	transition: all 0.1s;
		left: 0;
}
.menu.top {
	text-align: right;
	top: -64px;
}
.menu.top.open {
	top: 0;
}
.menu.bottom {
	bottom: -64px;
}
.menu.bottom.open {
	bottom: 0;
}
.menu h2 {
	margin: 0;
	z-index: 1;
	font-size: 18pt;
	color: #333333;
	pointer-events: none;
}
.menu h2:first-letter {
	text-transform: capitalize;
}
.menu > div {
	position: relative;
	width: calc(100vw / 6 - 32px);
	height: 100%;
	padding: 16px;
	cursor: pointer;
}
.course {
	background-color: rgba(67, 195, 255, 0.5);
}
.birthYear {
	background-color: rgba(255, 219, 53, 0.5);
}
.locationCountry {
	background-color: rgba(60, 67, 237, 0.5);
}
.county {
	background-color: rgba(26, 136, 77, 0.5);
}
.diplomaGraduation {
	background-color: rgba(255, 230, 195, 0.5);
}
.experience {
	background-color: rgba(92, 244, 161, 0.5);
}

.course:hover {
	background-color: rgba(67, 195, 255, 0.8);
}
.birthYear:hover {
	background-color: rgba(255, 219, 53, 0.8);
}
.locationCountry:hover {
	background-color: rgba(60, 67, 237, 0.8);
}
.county:hover {
	background-color: rgba(26, 136, 77, 0.8);
}
.diplomaGraduation:hover {
	background-color: rgba(255, 230, 195, 0.8);
}
.experience:hover {
	background-color: rgba(92, 244, 161, 0.8);
}


/**/
.logo-gob {
	position: absolute;
	top: calc(100vh / 2 - 160px);
	right: 0;
	left: 0;
	margin: 0 auto;
}
